name: CI/CD

# main 브렌치 pull request 에 배포실행
on:
  pull_request:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      # 최근 커밋된 코드 저장소 불러오기
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: gradlew 실행 권한 부여
        run: chmod +x ./gradlew

      # 도커 로그인
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Docker 이미지 빌드 및 푸쉬(배치 모듈 도커 이미지 빌드)
      - name: Build and push Docker image
        run: |
          docker build -f Dockerfile-batch -t project509-batch:latest .
          docker tag project509-batch:latest circledragon/cd-test:latest
          docker push circledragon/cd-test:latest
